.loginForm {
  padding: 20px;
  height: 420px;
  width: 30%;
  margin: 120px auto;
  background-color: rgba(250, 71, 71, 0.4) !important;
}

.loginBtn {
  margin: 15px 0;
}

.loginForm label {
  color: #fff !important;
}

@media (max-width: 1024px) {
  .loginForm {
    width: 60%;
    margin: 250px auto;
  }
}

@media (max-width: 430px) {
  .loginForm {
    width: 80%;
    margin: 50px auto;
  }
}
